@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    background-color: darkcyan;
    color: white;
}


form{
    background: none;
}

h1{
    font-size: 2em;
}

img{
    border-radius: 20px;
}

header{
    padding-left: 10px;
}

table, #form-contato{
    margin: 10px;   
}


#listaContatos{
    text-align: left;
    line-height: 1.5rem;
}

#listaContatos th{
    font-size: 24px;
}

#listaContatos td, #listaContatos th{
    column-width: 250px;
}


#divLogin{
    display:flex;
    flex-direction: column;
    align-items: center;
    box-sizing: content-box;
}

#divCadastro, 
#att-user-container,
header{
    margin: 2rem;
}
/* #divCadastro input, #att-user-container  */
input {
    width:440px
}

#divLogin h4{ 
    position: relative;
    left:-190px;
    top:20px;
}

#divCadastro h4, #att-user-container h4{
    position: relative;
    top:20px;
    left: 5px;
}

#submitLogin, 
#submitCadastro, 
#att-user-button-container{
    margin-top: 2%;
}

fieldset{
    border: unset;
}

label{
    width: 100px;
}

.table-subtitle{
    line-height: 2rem;
    font-weight: bold;
}

#home-container{
    display: flex;
    height: 500px;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    justify-content:space-between;
}

#home-button-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button, input{
    padding:10px;
    margin: 5px;
    border: 1px solid white;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    max-width: 30rem;
}

input{
    background-color: white;
    color: black;
}

a{
    text-decoration: none;
}

#listaContatos tr:hover,
a:hover,
#submitLogin:hover, 
#delUsuario:hover, 
#patch-reset:hover, 
#patch-submit:hover, 
#postButton:hover, 
#attContato:hover, 
#excluirContato:hover{
    cursor: pointer;
    font-weight: bold;
}

#delUsuario{
    font-size: 14px;
    background-color: #C7CCB9;
    border: unset;
    color: black;
}


li{
    list-style-type: none;
}

